body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  overflow-x: hidden;
}

.body-container {
  position: relative;
  max-width: 1400px;
  margin-inline: auto;
}

.hide {
  display: none;
}

/* Navigation Bar */

.navigation-bar {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 50px;
  position: sticky;
  top: 0;
  z-index: 2;
  padding-block: 10px;
}

.logo-section img {
  width: 150px;
}

.topmenu {
  color: #14283b;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
}

.topmenu:hover {
  color: #e00486;
  font-weight: bolder;
  text-decoration: underline;
  /* Add the styles here */
}

.topdiv {
  display: flex;
}

.contact_info img {
  width: 100px;
  margin-right: 10px;
}

/* Titles */

h2 {
  text-align: justify;
  font-size: 50px;
  text-align: left;
  color: #e00486;
  margin-top: 40px;
}

.header {
  color: #e00486;
  margin-left: 60px;
  margin-top: 40px;
  font-size: 50px;
}

.tutorials {
  margin: 0 60px;
}

.introduction {
  text-align: justify;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  animation-duration: 5s;
  position: relative;
}

/* Used in the About Me sections */

.container {
  display: flex;
  width: 100%;
}

/* About Me */

#about-me {
  display: flex;
  align-items: center;
}

#about-me .about-img {
  width: 40%;
  margin-right: auto;
}

#about-me .about-text {
  width: 50%;
  margin-left: auto;
}

#about-me h1 {
  font-size: 55px;
  margin-top: 90px;
  color: hsl(330, 86%, 46%);
}

#about-me p {
  font-size: 25px;
  color: rgb(128, 128, 128);
  margin-top: -1cm;
}

.profile_image {
  width: 550px;
  height: fit-content;
  vertical-align: left;
  margin: 5px;
}

/* About Us */

.all_about-us {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.about_us {
  width: 33.3;
  border: 1px solid gray;
  display: block;
  border-radius: 16px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  font-size: 20px;
  box-shadow: 0 3px 10px gray;
}

.skill img {
  height: 35px;
  align-items: center;
}

.skills_h6 {
  align-items: center;
  font-size: 20px;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
  color: #e00486;
}

.skills p {
  align-items: center;
  font-size: 15px;
  color: gray;
  margin-block-start: 5px;
  margin-block-end: 5px;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Projects */

.projects-container {
  margin-top: 30px;
  margin-left: 60px;
}

.projects-container hr {
  border: 1px solid lightgray;
  width: 75%;
  margin-left: 5cm;
}

.project-card {
  margin: 0 15px 15px 30px;
  padding-bottom: 5px;
}

.project-card h3 {
  font-size: 25px;
  margin-left: 30px;
}

.project-card li {
  font-size: 20px;
  margin-left: 30px;
}

/* Recommendations */

.all_recommendations {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
  padding: 20px;
}

.recommendation {
  font-style: italic;
  text-align: left;
  width: 21.875rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
  border: 1px solid gray;
  font-size: 18px;
  height: 150px;
}

.recommendation span {
  color: #7600bc;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

/* Scroll to Top Button */

.iconbutton {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: hsl(330, 86%, 46%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
}

/* Form Pop-up */

.popup {
  width: 400px;
  background-color: #e8bcf0;
  border-radius: 3mm;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: fixed;
  /* padding: 30px; */
  visibility: hidden;
}

.popup img {
  padding-top: 20px;
}

.popup button {
  background-color: #fff;
  border: 1px solid hsl(330, 86%, 46%);
  color: hsl(330, 86%, 46%);
  /* color: #7600bc; */
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
  margin-left: 25%;
}

.popup button:hover {
  background-color: #fff;
  border: 2px solid hsl(330, 86%, 46%);
  color: hsl(330, 86%, 46%);
  display: block;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  margin-left: 25%;
}

/* Recommendation Form */

input,
textarea {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 10px;
  width: 100%;
}

.recommendation_form form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 25px;
  margin-left: 50px;
  margin-right: 50px;
  width: 50%;
  gap: 10px;
}

/* Buttons */

.recommendation_form-button {
  background-color: #fff;
  border: 1px solid hsl(330, 86%, 46%);
  color: hsl(330, 86%, 46%);
  display: block;
  border-radius: 6px;
  text-align: center;
  padding: 10px;
  width: 150px;
  font-size: 20px;
}

button:hover {
  background-color: hsl(330, 86%, 46%);
  border: 1px solid hsl(330, 86%, 46%);
  color: #fff;
  display: block;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

.signup_form .login_form {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

.signup_form input,
.login_form input {
  height: 36px;
  border-radius: 6px;
  padding-inline: 10px;
  font-size: 16px;
  width: 500px;
  margin-inline: 0;
}

.recommendation_form input {
  height: 36px;
  border-radius: 6px;
  padding-inline: 10px;
  font-size: 16px;
  width: 100%;
  margin-inline: 0;
}

.recommendation_form textarea {
  border-radius: 6px;
  padding-inline: 10px;
  font-size: 16px;
  width: 100%;
  margin-inline: 0;
}

.signup_form form,
.login_form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.signup_form button,
.login_form button {
  background-color: #fff;
  border: 1px solid hsl(330, 86%, 46%);
  color: hsl(330, 86%, 46%);
  display: block;
  border-radius: 6px;
  text-align: center;
  padding: 10px;
  width: 2in;
  font-size: 20px;
}

.input_cont {
  display: flex;
  flex-direction: column;
}